* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2f2;
}

/* Header*/
.head {
  width: 100%;
  height: 20vh;
  background: url(../img/bg.jpg) no-repeat center center/cover;
}

.head-top {
  background-color:  #879e0f;;
  text-align: center;
  color: white;
}

.flex-right {
  position: absolute;
  right: 0;
}

.flex-right img {
  height: 80px;
}

.head-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.head-logo img {
  height: 37px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.nav-links div a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

/* Main*/
.container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: max-content;
}

/*Section equipe*/

.offret > h1 {
  color: #96b011;
  text-align: center;
  margin: 15px 15px;
}

.slide-offret {
  max-width: 800px;
  position: relative;
  margin: auto;
  height: 350px;
  overflow: hidden;
}

.points {
  position: absolute;
  left: 0;
  z-index: 11;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.points label {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50px;
  margin: 0 0.2em 1em;
}

.point label:hover,
.point label:focus {
  background: #1c87c9;
}

.slide-img {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  transition: left 0s 0.75s;
}

[id^="slide"]:checked + .slide-img {
  left: 0;
  z-index: 100;
  transition: left 0.65s ease-out;
}

.chose-the {
  background-color: white;
}

.chose-the-flex {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: white;
}

.chose-the > h1 {
  text-align: center;
  color: #96b011;
}

.chose-the a {
  text-decoration: none;
  color: black;
}

/* Detail-thé*/
.detail-the-flex {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
}

.detail-the {
  padding-top: 15px;
}

.detail-the-flex div >h1{
  color: #96b011;
}

.btn-color{
  background-color: #B09067;
  border:none;
  padding: 15px 15px;
  color: white;
}



/*Footer*/
.footer {
  width: 100%;
  height: max-content;
  background: url(../img/bg.jpg) no-repeat center center/cover;
  /*background-size: 100%;*/
}

.footer-top {
  display: flex;
  justify-content: space-between;
  height: max-content;
  background-color: rgba(82, 80, 80, 0.158);
}

.footer-top div {
  text-align: center;
}

.footer-top div i {
  color: white;
  margin-top: 10px;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom {
  height: 15vh;
  background-color: rgba(82, 80, 80, 0.158);
  padding-top: 30px;
}

.footer-bottom p {
  text-align: center;
}
