* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2f2;
}

/* Header*/
.head {
  width: 100%;
  height: 20vh;
  background: url(../img/bg.jpg) no-repeat center center/cover;
}

.head-top {
  background-color:  #879e0f;;
  text-align: center;
  color: white;
}

.flex-right {
  position: absolute;
  right: 0;
}

.flex-right img {
  height: 80px;
}

.head-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.head-logo img {
  height: 37px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.nav-links div a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

/* Main*/
.container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: max-content;
}

.container-color {
  background-color: white;
  margin-bottom: 15px;
}

/*Section equipe*/
.equipe > h1 {
  margin: 15px 15px;
}
.equipe h3 {
  color:#879e0f;
  margin: 15px 15px;
}

.equipe > p {
  text-align: justify;
  padding: 15px;
}

.img1 {
  float: left;
  margin: 10px 15px;
  width: 50%;
}

.img2 {
  float: right;
  margin: 10px 15px;
  width: 50%;
}

/* Concept */

.concept > p {
  text-align: justify;
  padding: 15px;
}

.concept h1{
  padding: 15px;
}

.concept {
  margin-top: 15px;
}

.flex-concept {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: antiquewhite;
  margin: 15px 15px;
}

.flex-concept div{
  padding: 10px 10px;
}

/*Footer*/
.footer {
  width: 100%;
  height: max-content;
  background: url(../img/bg.jpg) no-repeat center center/cover;
  /*background-size: 100%;*/
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  background-color: rgba(82, 80, 80, 0.158);
}

.footer-top div {
  text-align: center;
  margin: 15px 25px;
  color: white;
}

.footer-top div i {
  color: white;
  margin-top: 10px;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
}

.footer-bottom {
  height: 15vh;
  background-color: rgba(82, 80, 80, 0.158);
  padding-top: 30px;
}

.footer-bottom p {
  text-align: center;
  color: white;
}
