* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f2f2f2f2;
}

/* Header*/
.head {
  width: 100%;
  height: 20vh;
  background: url(../img/bg.jpg) no-repeat center center/cover;
}

.head-top {
  background-color:  #879e0f;;
  text-align: center;
  color: white
}

.flex-right {
  position: absolute;
  right: 0;
}

.flex-right img {
  height: 80px;
}

.head-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.head-logo img {
  height: 37px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.nav-links div a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  
}

/* Main*/
.container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: max-content;
}

/*Section */
.container-color {
  background-color: white;
  margin-bottom: 25px
}

.flex-head {
  display: flex;
  justify-content: space-between;
}

.flex-body {
  display: flex;
  justify-content: space-between;
}

/*Detail*/
.detail >p{
  text-align: justify;
}

/*Footer*/
.footer {
  width: 100%;
  height: max-content;
  background: url(../img/bg.jpg) no-repeat center center/cover;
  /*background-size: 100%;*/
}

.footer-top {
  display: flex;
  justify-content: space-between;
  height: max-content;
  background-color: rgba(82, 80, 80, 0.158);
}

.footer-top div {
  text-align: center;
  margin: 15px 25px;
  color: white;
}

.footer-top div i {
  color: white;
  margin-top: 10px;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
}

.footer-bottom {
  height: 15vh;
  background-color: rgba(82, 80, 80, 0.158);
  padding-top: 30px;
}

.footer-bottom p {
  text-align: center;
  color: white;
}


/* Responsive */

@media screen and (max-width: 992px) {
  
}


@media screen and (max-width: 680px) {
  /* Header */
  .head {
    width: 100%;
    height: max-content;
    background: url(./img/bg.jpg) no-repeat center center/cover;
  }

  .head-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 25px;
  }

 

  /* Footer */
  .footer {
    width: 100%;
    height: max-content;
    background: url(./img/bg.jpg) no-repeat center center/cover;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: max-content;
    background-color: rgba(82, 80, 80, 0.158);
  }

  .footer-middle {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
  }
}


