* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2f2;
}

/* Header*/
.head {
  width: 100%;
  height: 20vh;
  background: url(../img/bg.jpg) no-repeat center center/cover;
}

.head-top {
  background-color: #879e0f;
  text-align: center;
  color: white;
}

.head-price {
  color: white;
}

.flex-right {
  position: absolute;
  right: 0;
}

.flex-right img {
  height: 80px;
}

.head-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.head-logo img {
  height: 37px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.nav-links div a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

/* Main*/
.container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: max-content;
}

/*Section equipe*/
.element-flex {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 15px;
}

.container-element {
  padding: 15px 15px;
}

.element-flex div {
  padding: 15px 15px;
  margin: 15px 15px;
}

.element-flex {
  padding: 15px 15px;
}

.img-el-top {
  background-color: white;
  padding: 15px;
  margin: 15px;
}

.img-el-left {
  float: left;
  width: 10%;
}

.btn-color {
  background-color: #b09067;
  border: none;
  padding: 15px 15px;
  color: white;
}

/*Footer*/
.footer {
  width: 100%;
  height: max-content;
  background: url(../img/bg.jpg) no-repeat center center/cover;
  /*background-size: 100%;*/
}

.footer-top {
  display: flex;
  justify-content: space-between;
  height: max-content;
  background-color: rgba(82, 80, 80, 0.158);
}

.footer-top div {
  text-align: center;
  margin: 15px 25px;
  color: white;
}

.footer-top div i {
  color: white;
  margin-top: 10px;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
}

.footer-middle div {
  margin: 15px;
}

.footer-bottom {
  height: 15vh;
  background-color: rgba(82, 80, 80, 0.158);
  padding-top: 30px;
}

.footer-bottom p {
  text-align: center;
  color: white;
}

/* Responsive */
@media screen and (max-width: 1400px) {
  /* ----- btn price --------*/
  .btn-price {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .element-flex {
    flex-direction: column;
  }

  /* ----- btn price --------*/
  .btn-price {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  /* Header */
  .head {
    width: 100%;
    height: max-content;
    background: url(../img/bg.jpg) no-repeat center center/cover;
  }

  .head-title {
    flex-direction: column;
  }

  .nav-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }

  .nav-links div a {
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
  }
  /*--- price ----*/
  .head-price {
    display: none;
  }

  /*----- btn price ------*/
  .btn-price {
    display: block;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 3px 2px 7px black;
    margin-top: 15px;
    background-color: #879e0f;
    width: 92px;
    padding: 13px;
    color: white;
  }

  .flex-right {
    display: none;
  }

  /* Footer */
  .footer {
    width: 100%;
    height: max-content;
    background: url(../img/bg.jpg) no-repeat center center/cover;
  }

  .footer-top {
    flex-direction: column;
  }

  .footer-middle {
    flex-direction: column;
  }
}
